/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	chosen {
		zephyr,entropy = &rng;
	};

	buttons {
		compatible = "gpio-keys";
		rst_button0: rst_button_0 {
			gpios = <&gpio0 19 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Reset button";
		};
	};

    pwmleds {
		ext_pwm_led: pwm_led_3 {
			pwms = < &pwm0 42 >;
		};
    };

	aliases {
		rst0 = &rst_button0;
        pwm-on-board = &blue_pwm_led;
        pwm-ext0 = &ext_pwm_led;
	};
};

&pwm0 {
    ch3-pin = < 42 >;
    ch3-inverted;
};
